@charset "utf-8";
/* menu */
.menu{
	height:70px;
	background-color:rgb(163, 4, 4);
	border:0;
	border-radius:12px;
}
.menu>a>img{
	width:70px;
}
.menu>a{
	float:left;
	display:block;
}
.menu ul li{
	float:left;
	list-style-type:none;
}
.menu ul li a{
	text-decoration:none;
	display:block;
	color:white;
	text-transform:uppercase;
	font-family:"Times New Roman", Times, serif;
	font-size:20px;
	padding:10px 15px;
	margin-left: 100px;
	margin-top:10px;
}
.menu ul li a:hover{
	background-color:white;
	color:rgb(163, 4, 4);
}
/*banner*/
.banner{
	height:400px;
}
.banner>img{
	width:100%;
	height:100%;
	border-radius:10px;
}
/*content*/
.content{
	height:800px;
	background-image:url(../Images/BG/203327-ice-cream-pack.png);
}
.content div a{
	display:block;
	text-transform:uppercase;
	font-family:"Times New Roman", Times, serif;
	font-size:16px;
	color:#F03;
	text-decoration:none;
	float:left;
	text-align:center;
	margin-top: 18px;
	margin-bottom:18px;
}
.content div a img{
	width:300px;
	height:280px;
	margin-left:100px;
	border-radius:14px;
	box-shadow: -5px -5px 5px #F06;
}
.content div a div{
	padding: 10px;
	background-color:rgba(130,9,9,0.8);
	margin-left: 160px;
	width:150px;
	color:#CF6;
}
.content div a div:hover{
	color:white;
}
/* footer*/
div.footer{
	background-image:url(../Images/BG/800px_COLOURBOX10588904.jpg);
	height:300px;
	border-radius:15px
}
div.footer>div{
	margin:30px 150px;
	float:right;
	width:600px;
	height:230px;
	background-color:rgba(45, 119, 32,0.87);
	box-shadow:-5px -5px 5px #005E25;
}
.footer>div div.detail ul li{
	list-style-type:none;
}
.footer>div div.detail ul li a{
	padding:5px;
	display:block;
	text-decoration:none;
	color:#F60;
	font-family:"Times New Roman", Times, serif;
	font-size:18px;
	text-transform:uppercase;
}
.footer>div div.detail ul li a:hover{
	color:#FFF;
}
.footer>div div.detail{
	float:left;
}
.footer>div div.icon{
	float:right;
}
.footer>div div.icon a{
	display:inline-block;
	padding:10px 20px;
}
.footer>div div.icon a img{
	width:50px;
}
.footer>img{
	width:300px;
	float:left;
	background-color:rgba(50,154,55,0.8);
	margin:10px;
	box-shadow:-5px -5px 5px #005E25;
}


